{% extends "mainPageTemplate.html" %}  


{% block head %}
    <!-- Datatables -->
   <link href="http://192.168.1.5:8000/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.1.5:8000/static//vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.1.5:8000/static//vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.1.5:8000/static//vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="http://192.168.1.5:8000/static//vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <script src="http://192.168.1.5:8000/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="http://192.168.1.5:8000/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock %}
{% block content %}
        <!-- page content -->
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>数据中心 <!--small>->数据中心</small--></h3>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>当前租户 <small>无锡隆正</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<!--                    <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p>
-->
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <!--<th>机架ID</th>-->
                          <th>所属数据中心</th>
                          <th>机架SN</th>
                          <th>机架名称</th>
                          <th>用户自定义名称</th>
                          <th>P1功率</th>
                          <th>P2功率</th>
                          <th>温度标准值</th>
                          <th>湿度标准值</th>
                          <th>机架数量</th>
                          <th>总U位</th>
                          <th>状态</th>
                          <th>备注</th>
                          <th>删除</th>
                          <th>修改</th>
                        </tr>
                      </thead>


                      <tbody>
<!--                      
                        <tr>
                          <td>001</td>
                          <td>无锡数据中心01</td>
                          <td>使用中</td>
                          <td>无锡联通</td>
                          <td>5</td>
                          <td>300</td>
                          <td>110KVA</td>
                          <td>110KVA</td>
                          <td>20°</td>
                          <td>40%-60%</td>
                          <td>测试数据</td>
                          <td><inpute type="button" action='' name="delete">删除</inpute></td>
                          <td><inpute type="button" action='' name="modify">修改</inpute></td>
                        </tr>
-->                        
                        {% for machineRoom in allMachineRoom %}
                        <tr>
                          <!--<td>{{ machineRoom.id }}</td>-->
                          <td>外键数据中心名称</td>
                          <td>{{ machineRoom.sn }}</td>
                          <td>{{ machineRoom.name }}</td>
                          <td>{{ machineRoom.userDefineName }}</td>
                          <td>{{ machineRoom.power1 }}</td>
                          <td>{{ machineRoom.power2 }}</td>
                          <td>{{ machineRoom.TEMPMin }}°-{{ machineRoom.TEMPMax }}°</td>
                          <td>{{ machineRoom.HRMin }}%-{{ machineRoom.HRMax }}%</td>
                          <td>{{ machineRoom.rackNumber }}</td>
                          <td>{{ machineRoom.capacityUnit }}</td>

                          {% if machineRoom.state == 0 %}
                            <td bgcolor="#A2CD5A">使用中</td>
                          {% else %}
                            <td bgcolor="#CD5C5C">维护中</td>
                          {% endif %}

                          <td>{{ machineRoom.remark }}</td>
                          <td><inpute type="button" action='' name="delete">删除</inpute></td>
                          <td><inpute type="button" action='' name="modify">修改</inpute></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
          
          
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
